<h2>Welcome to {{hotelName}}!</h2>

<div [hidden]="hideRooms">
  There are <div [innerText]="rooms.totalRooms"></div> rooms in total
</div>
<div>
  Available rooms: {{ rooms.availableRooms ? rooms.availableRooms : 'No rooms' }}
</div>
<div>
  {{roomList | slice : 1 : 2 | json}}
</div>
<div *ngIf="rooms.availableRooms > 0">
  Rooms List
  <table>
    <tr>
      <th>Index</th>
      <th>Even/Odd</th>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Room Price</th>
      <th>Room Amenities</th>
      <th>Checkin Time</th>
      <th>Checkout Time</th>
      <th>Rating</th>
    </tr>
    <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of roomList | slice : 0 : roomList.length; let e = even; let o = odd; let i = index">
      <td>{{i | percent}}</td>
      <td>{{(e ? "Even" : "Odd") | lowercase}}</td>
      <td>{{room.roomNumber}}</td>
      <td>{{room.roomType | uppercase}}</td>
      <td>{{room.price | currency : 'GBP' }}</td>
      <td>{{room.amenities | titlecase}}</td>
      <td>{{room.checkinTime | date: 'dd/MM/yy '}}</td>
      <td>{{room.checkoutTime | date: 'dd/MM/yyyy'}}</td>
      <td>{{room.rating | number : '1.2-2'}}</td>
    </tr>
  </table>

</div>
<button (click)="toggle()">Toggle rooms</button>