<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
There are <div [innerText]="rooms.totalRooms"></div> rooms in total
<div>
  Available rooms: {{ rooms.availableRooms ? rooms.availableRooms : 'No rooms' }}
</div>
<div *ngIf="hideRooms">
  <div *ngIf="selectedRoom">
    {{selectedRoom | json}}
  </div>

  <div>
    <button (click)="addRoom()">Add Room</button>
  </div>

  <app-rooms-list 
    [rooms]="roomList" 
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  ></app-rooms-list>
</div>
<button (click)="toggle()">Toggle rooms</button>